/* *************** CUSTOM FONT ****************/

@font-face {
  font-family: "customFont1";
  src: url("./resources/Fonts/webFonts/customFont1.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "customFont2";
  src: url("./resources/Fonts/webFonts/customFont2.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "customFont3";
  src: url("./resources/Fonts/webFonts/customFont3.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "customFont4";
  src: url("./resources/Fonts/webFonts/customFont4.woff2") format("woff2");
  font-display: block;
}
@font-face {
  font-family: "customFont5";
  src: url("./resources/Fonts/webFonts/customFont5.woff2") format("woff2");
  font-display: block;
}
@font-face {
  font-family: "customFont6";
  src: url("./resources/Fonts/webFonts/customFont6.woff2") format("woff2");
  font-display: block;
}

/* ***************END OF CUSTOM FONT***************  */
